.logo{
     display: flex;
     /* align-items: center;  */
     height: 10vh;
     width: auto;
     padding: 6px;
}
.container{
    min-height: 1700px;
    /* giving minimum height to the class container, by substracting the height of header and footer from 100vh */
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.option{
    padding: 8px 14px;
    margin: 0 10px;
    border-radius: 4px;
    color: black;
    background-color: white;
    text-decoration: none;
}
.graphic{
    width: 100%;
    margin: 0;
    padding: 0;
    /* margin-top: 50px; */
    /* margin-left: 0px;
    margin-right: 0px; */
    /* height: 2vh; */
}
.graphic img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.graphic2{
    width: 100%;
    margin: 0;
    padding: 0;
    /* margin-top: 50px; */
    /* margin-left: 0px;
    margin-right: 0px; */
    /* height: 2vh; */
}
.graphic2 img {
    display: block;
    width: 100%;
    height: 530px;
    object-fit: contain;
}
.write{
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.graphic3{
    width: 100%;
    margin: 0;
    padding: 0;
    /* margin-top: 50px; */
    /* margin-left: 0px;
    margin-right: 0px; */
    /* height: 2vh; */
}
.graphic3 img {
    display: block;
    width: 100%;
    height: 530px;
    object-fit: contain;
}
.about {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 60px 0;
}

/* equal space */
.image, .text {
    width: 50%;
}

/* auto alternate */
.row:nth-child(even) {
    flex-direction: row-reverse;
}
.row:nth-child(even) .image {
    margin-left: 60px;
}
/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .logo {
        height: 10vh;
        padding: 4px;
    }

    .options {
        flex-direction: column;
    }

    .option {
        margin: 5px 0;
        padding: 6px 12px;
    }

    .row {
        flex-direction: column;
        text-align: center;
    }

    .image, .text {
        width: 100%;
    }
}

