<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Connect</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/utility.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <div class="logo">
                    <a href="index.html">
                        <img src="images/NGO_Connect.png" alt="NGO Connect Logo">
                    </a>
                </div>
                <ul class="nav-links">
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="nav-center">
                <div class="search">
                    <input type="text" placeholder="Search NGO">
                    <button type="submit">Search</button>
                </div>
            </div>
            <div class="auth-buttons">
                <a class="btn signup" href="signup.html">Sign Up</a>
                <a class="btn login" href="login.html">Login</a>
            </div>
        </nav>
    </header>
    <main class="container"></main>
    <footer class="flex-all-center">
        <p>&copy; 2026 NGO Connect. All rights reserved</p>
    </footer>
</body>
</html>