<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Connect</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/utility.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <div class="logo">
                    <a href="/">
                        <img src="../static/images/NGO_Connect.png" alt="NGO Connect Logo">
                    </a>
                </div>
                <ul class="nav-links">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="nav-center">
                <div class="options">
                    <a type="explore" class="option" href="/explore">Explore NGOs</a>
                    <a type="donate" class="option auth" href="/donate">Donate</a>
                    <a type="volunteer" class="option auth" href="/volunteer">Volunteer</a>
                </div>
            </div>
            <div class="auth-buttons">
                <a class="btn login" href="/login">Login</a>
                <a class="btn signup" href="/register">Sign Up</a>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="graphic">
            <img src="../static/images/Graphic.png" alt="NGO Connect Graphic">
        </div>
        <div class="graphic2">
            <img src="../static/images/graphic2.png" alt="Stats">
        </div>
        <div class="write">
            <p>Established in 2024, NGO Connect is a digital platform based in Kolkata that brings together NGOs, donors, and volunteers on a single, transparent interface. The platform enables users to discover verified NGOs, contribute through donations, and participate in meaningful volunteer opportunities across sectors such as education, healthcare, and social welfare.
        <br>
        <br>
            NGO Connect aims to simplify the process of giving and engagement by providing clear insights into NGO needs and progress. By fostering collaboration between individuals and organizations, it works toward creating a more connected and impactful community-driven support system.</p>
        </div>
        <div class="graphic3">
            <img src="../static/images/Graphic3.png" alt="Impact">
        </div>
    </main>
    <footer class="flex-all-center">
         <p>Help as much as you can &#x1F60A;</p>
    </footer>
</body>
</html>